<section class="section">
  <div class="tile is-ancestor">
    <div class="tile">
      <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean bibendum sagittis est, sit amet pellentesque felis facilisis vel. Maecenas ornare rutrum lacus, nec rutrum nisl placerat tincidunt. Quisque erat massa, dapibus vel feugiat sagittis, fringilla id nisi. In laoreet finibus neque, pellentesque iaculis justo molestie in.
      </p>
    </div>

    <div class="tile">
      <figure class="image">
        <img src="/assets/images/tezgqh.jpg" />
      </figure>
    </div>
  </div>
</section>
