<section class="section">
  <div class="tile is-ancestor">
    <div class="tile">
      <p>
      Кърпел е малка работилница съсредоточена върху традиционното дърводелство с ръчни инструменти.
      Всяко нещо излезнало от нашата работилница е индивидуално, ние не сме фабрика за масово производство.
      Избрали сме да работим с ръчни инструменти защото много от сглобките който използваме в изработката на нашите мебели не могат да бъдат направени с машина, удоволствието от работа с ръчни инструменти не може да се сравни с работа с машини, усещането, че работим с дърво, както са го превили преди 400-500 и повече години е уникално. В Кърпел работим само с масивна дървесина и предварително изготвен проект. Всеки проект е индивидуално изготвен за клиента, започва се от скица а след това се стига до 3D модел за да си представим как ще изглеждал крайния продукт.
      </p>
    </div>

    <div class="tile">
      <figure class="image">
        <img src="/assets/images/tezgqh.jpg" />
      </figure>
    </div>
  </div>
</section>
<%= t.home_message %>
