<div class="columns is-mobile is-multiline px-2">
  <div class="column is-half-desktop is-half-tablet is-full-mobile">
    <p>
    Кърпел е малка работилница съсредоточена върху традиционното дърводелство и работа с ръчни инструменти.
    Всеки продукт направен от нас е уникален защото е направен на ръка с внимание към детайла.
    Работим по поръчка с изготвен от нас чертеж или проект наклиента.
    Продуктите които не се по поръчка са в малки лимитирани серии, така се запазва уникалността на нашите продукти.
    </p>
  </div>
  <div class="column is-half-desktop is-half-tablet is-full-mobile">
    <figure class="image">
      <img src="/assets/images/tezgqh.jpg" />
    </figure>
  </div>
</div>
<div class="columns">
  <div class="column">
    <%= t.home_message %>
  </div>
</div>
