<div class="columns is-mobile is-multiline px-2">
  <div class="column is-half-desktop is-half-tablet is-full-mobile">
    <figure class="image">
      <img src="/assets/images/tezgqh.jpg" />
    </figure>
  </div>
  <div class="column is-half-desktop is-half-tablet is-full-mobile">
    <p>
      test
    </p>
  </div>
</div>
