<div class="columns is-centered">
  <div class="column is-4">
    <% @records.each do |record| %>
      <%= record.name %>
      <a href="<%= listed_route(:records_view_edit, record_id: record.id) %>">редактирай</a>
      <a href="<%= listed_route(:records_create)%>">нов запис</a>
      <br />
    <% end %>

    <%= pagy_bulma_nav(@pagy) %>
  </div>
</div>
