123
<div class="columns is-centered">
  <div class="column is-4">
    <form>
      <div class="field">
        <div class="control">
          <input class="input" type="text" placeholder="дума за търсене"/>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <input class="input" type="text" placeholder="етикет"/>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <span class="tag is-info">
            дърводелец
            <button class="delete is-small"></button>
          </span>
          <span class="tag is-info">
            дъб 
            <button class="delete is-small"></button>
          </span>
          <span class="tag is-info">
            техника
            <button class="delete is-small"></button>
          </span>
          <span class="tag is-info">
            mortise and tenon
            <button class="delete is-small"></button>
          </span>
          <span class="tag is-info">
            oak
            <button class="delete is-small"></button>
          </span>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <input type="submit" class="button is-success" value="Търси" />
        </div>
      </div>

    </form>
  </div>
</div>
